#resize
{
	height: 200px; width: 200px;
	overflow:auto;resize:both;
	padding:10px;
	max-wight:300px;
	max-height:300px;
	background:#333;color:white;
}

.videoContainer{
position: relative;
}

.video{
	height: 600px; width: 720px;
	border: 5px;
	position: absolute;
}

.overlay{
	height: 360; width: 480;
	position: absolute;
}