.mainPgTitlePic{

     position:relative;
     margin-left: 22%;
	
}

.mainPgBeachTitle{

    position: relative;
	margin-top: -430px;
	margin-left: 45%;
	font-size: 23px;
	
}

.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
} 



.video-container{
    position: relative;
	margin-top: 50px;
	margin-left: 200px;
    width:560px ;height:315px ;
    frameborder:0
}

iframe{
    width:760px ;
    height:515px ;
    frameborder:1;

}

#container {
            bottom: 0px;
            display: none;
            left: 20px;
            position: fixed;
            width: 90%;
        }

        #inner {
            background-color: #F0F0F0;
            border: 1px solid #666666;
            border-bottom-width: 0px;
            padding: 20px 20px 100px 20px;
        }