.videoLeftContainer{
	position: fixed;
	height: 70%;
	width: 49%;
	border: 5px solid #000000;
    background-color:black;
	margin-top: 50px;
    left:5px;
    top: 0;
}

.videoRightContainer{
	position: fixed;
	height: 70%;
	width: 49%;
	border: 5px solid #000000;
    background-color:black;
	margin-top: 50px;
    right:5px;
    top: 0;
}


.controls{
	position: fixed;
	bottom: 5px;
	left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    padding: 1%;

}

iframe{
    height:100%;
    width:100%;
}


