.videoLeftContainer{
	position: absolute;
	height: 425px;
	width: 652px;
	border: 5px solid #000000;
    background-color:black;
	margin-top: 50px;
    left:5px;
}

.videoRightContainer{
	position: absolute;
	height: 425px;
	width: 652px;
	border: 5px solid #000000;
    background-color:black;
	margin-top: 50px;
    right:5px;
}

.fullContainer{
	position: relative;
	width: 1600px;
	height: 600px;
	
}

.controls{
	position: absolute;
	width: 400px;
	height: 50px;
	top: 535px;
	left: 500px;
}

iframe{
    height:100%;
    width:100%;
}


