



.video-container{
    --position: relative;
	margin-top: 50px;
	margin-left: 220px;
    height:515px; 
    width:760px;
    border: 5px solid #000000;
    background-color:black;

}

.gmap-container{
    position:  absolute;

    top:0px;
   	margin-top: 50px;
	margin-left: 2px;

        height:300px; 
    width:190px;
   -- border:6px;
   border: 5px solid #000000;
}
.gmap-config-container{
    flex: 1;
    position:  relative;

    top:0px;
	margin-left: -8px;

        height:100%; 
    width:190px;
   -- border:6px;
   border: 5px solid #000000;
}



.video-config-container{
    position: relative;
	margin-left: 220px;
    top: -160px;
    height:100%; 
    width:760px;
    border: 5px solid #000000;

}

.droneIcon-container{
    position:  absolute;
    top:45%;
    left:38%;
}

.rightMenu-container{
    position:  absolute;
    height:300px;
    width:350px;
    top:0;
    right:0;
    padding-right:5px;
    margin-top: 50px;
	margin-right: 2px;
}

iframe{
    height:100%;
    width:100%;
}



#lower {
    width: 0px;
    position: fixed;
    bottom: 0;
}

#bar {
    padding: 10px;

}

#panel {
    display: none;
/*    height: 100px;*/
    background-color: #aaaaaa;
    padding: 10px;
}
